$blueprint-grid-columns : 24;
$blueprint-grid-width   : 66px;
$blueprint-grid-margin  : 0px;
$black-color            : #404040;

@import "compass/reset";
@import "compass/utilities";
@import "blueprint";

$bg: #F7F7F7;
$bg1: shade($bg, 2);
$bg2: shade($bg, 2);

$red: #c00000;
$green: #23b600;
$blue: #102da3;
$orange: #dc7c09;
$black: #404040;

.red { color: $red; }
.green { color: $green; }
.blue { color: $blue; }
.orange { color: $orange; }
.black { color: $black; }

$redl: lighten($red, 20%);
$greenl: lighten($green, 20%);
$bluel: lighten($blue, 20%);
$orangel: lighten($orange, 20%);
$blackl: lighten($black, 20%);

.redl { color: $red; }
.greenl { color: $green; }
.bluel { color: $blue; }
.orangel { color: $orange; }
.blackl { color: $black; }

$redd: darken($red, 20%);
$greend: darken($green, 20%);
$blued: darken($blue, 20%);
$oranged: darken($orange, 20%);
$blackd: darken($black, 20%);

.redd { color: $red; }
.greend { color: $green; }
.blued { color: $blue; }
.oranged { color: $orange; }
.blackd { color: $black; }


$huge:64px;
$large:48px;
$medium:36px;
$normal:28px;
$small:20px;

.huge   { font-size:   $huge; }
.large  { font-size:  $large; }
.medium { font-size: $medium; }
.normal { font-size: $normal; }
.small  { font-size:  $small; }

.col-24 { @include column(24); min-height: 5px; };
.col-23 { @include column(23); min-height: 5px; };
.col-22 { @include column(22); min-height: 5px; };
.col-21 { @include column(21); min-height: 5px; };
.col-20 { @include column(20); min-height: 5px; };
.col-19 { @include column(19); min-height: 5px; };
.col-18 { @include column(18); min-height: 5px; };
.col-17 { @include column(17); min-height: 5px; };
.col-16 { @include column(16); min-height: 5px; };
.col-15 { @include column(15); min-height: 5px; };
.col-14 { @include column(14); min-height: 5px; };
.col-13 { @include column(13); min-height: 5px; };
.col-12 { @include column(12); min-height: 5px; };
.col-11 { @include column(11); min-height: 5px; };
.col-10 { @include column(10); min-height: 5px; };
.col-9  { @include column(9);  min-height: 5px; };
.col-8  { @include column(8);  min-height: 5px; };
.col-7  { @include column(7);  min-height: 5px; };
.col-6  { @include column(6);  min-height: 5px; };
.col-5  { @include column(5);  min-height: 5px; };
.col-4  { @include column(4);  min-height: 5px; };
.col-3  { @include column(3);  min-height: 5px; };
.col-2  { @include column(2);  min-height: 5px; };
.col-1  { @include column(1);  min-height: 5px; };

.full    { width: 100% !important; }
.left    { text-align: left !important; }
.center  { text-align: center !important; }
.right   { text-align: right !important; }
.justify { text-align: justify !important; }
.vertical{ writing-mode: tb-rl; }
.pleft   { position: fixed; left: 0; }
.pright  { position: fixed; right: 0; }
.pcenter { position: fixed; left: 0; right: 0; margin: auto; }

body {
  margin: 0;
  padding: 0;
  background-color: $bg;
  background-image: linear-gradient($bg1 2px, transparent 2px),
    linear-gradient(90deg, $bg1 2px, transparent 2px),
    linear-gradient($bg2 1px, transparent 1px),
    linear-gradient(90deg, $bg2 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

$radius: 80px;
.circle, .arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.circle {
  width: $radius;
  height: $radius;
  border-radius: $radius/2;
  background-color: $black;
  &.right {
    right: -$radius/2;
  }
  &.left {
    left: -$radius/2;
  }
}

.arrow {
  width: 0;
  height: 0;
  border-top: $radius/6 solid transparent;
  border-right: $radius/3 solid $bg;
  border-bottom: $radius/6 solid transparent;
  &.right {
    right: 1px;
    transform:rotate(180deg);
  }
  &.left {
    left: 1px;
  }
}

.left, .header_line {
  display: none;
}

span {
  margin: 0;
  padding: 0;
}

progress {
  display: none;
  width: 100%;
  height: 8px;
  left: 0;
  top: 0;
  position: absolute;
  background-color: $black;
  &::-webkit-progress-value {
    background-color: $red;
  };
  &::-moz-progress-bar {
    background-color: $red;
  }
}

.reveal .slides section {
  height: 100%;
  width: 100%;
  padding: 0;
  font-family: "Monaco";
  font-size: $normal;
  line-height: 1.4em;
  color: $black;
  counter-reset: list;
  h1, h2, h3 {
    left: 0;
    right: 0;
    margin: auto;
    line-height: 1.4em;
  };
  h1 {
    font-size: $huge;
    width: 90%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: $black;
    top: 0;
    bottom: 0;
  };
  h2 {
    font-size: $large;
    width: 100%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    color: $red;
  }
  .header_line {
    left: 0;
    right: 0;
    top: 11%;
    margin: auto;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: $red;
  }
  h3 {
    color: $blackl;
    padding: 20px;
  }
  p {
    text-align: left;
    line-height: 1.6em;
  }
  a[rel="footnote"] {
    color: $blackl;
    text-decoration: none;
  }
  .footnotes {
    position: fixed;
    bottom: 1%;
    left: 0;
    margin: auto;
    text-align: left;
    color: $blackl;
    font-size: $small;
    ol li {
      list-style: none;
      float: left;
      a { display: none; }
      &:not(:first-child){ margin-left: 20px; }
      counter-increment: list;
    }
    ol > li:before {
        content: "(" counter(list, decimal) ") ";
        // font-size: 70%;
        // vertical-align: super;
    }
  }
  table {
    display: inline-table;
    line-height: 2em;
    border: 2px solid $red;
    td, th {
      text-align: center;
      vertical-align: middle;
      padding: 7.5px;
      margin: 0;
    }
    td[rowspan]{
      border-top: 2px solid transparentize($redl, 0.9);
    }
    thead tr {
      background: $red;
      color: $bg;
      border-bottom: double black black;
    }
    tr:nth-child(even)  {
      background: transparentize($redl, 0.9);
    }
  }
  cite {
    color: $blackl;
    font-size: 0.8 * $normal;
  }
}
